p{
line-height:25px;
font-family:'Tw Cen MT';
}

.bar {
	padding-left:20px;
}

 #link-container{
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}

.cook-pic-1{
	width:100%;
}
li a {
display:block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family:'Tw Cen MT';
}
ul {
list-style-type: none;
margin: 10px;
padding: 0;
overflow: auto;
background-color: beige;
font-family:'Tw Cen MT';

} 
a{
text-decoration:none;
background-color:;
border-radius:0px;
padding:6px;
color: black;
font-family:'san-serrif';
}
.p{
	float:left;
	overflow:auto;
}
.food{
	float:right;
}
.h1{
	padding-left:10px;
}
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-left:40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left:60px;
    width: 100%;
}
.topnav {
    background-color:;
    overflow: hidden;
}
.topnav a {
	float:left;
	display:block;
	color:black;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-size:17px;
}
.logo{
	padding-left: 40px;
}
.funny{
	height:400px;
	float:left;
	opacity:100%;

}
.girl{
	float:right;
	padding:40px;
	
}
#girl{
 float:right;
 width:300px;
 height:300px;
}

.div1{
border-style:solid;
border-width:2px;
border-color:black;
padding-left:0px;
background-color:;

}
.div2{
border-style:solid;
border-width:2px;
border-color:black;

}
.pic1{
float:left;
padding-right:30px;
padding-bottom:20px;
}
.text1{
padding-left:10px;
}
.div3{
border-style:solid;
border-width:2px;
border-color:black;
padding-top:0px;
}
.div4{
	border-style:solid;
border-width:2px;
border-color:black;
padding-top:0px;
}
.pic2{
	float:left;
padding-right:30px;
height:300px;
}
.blocks{
	position:absolute;
}
.header{
font-family:'Tw Cen MT';
}
.pic5{
	width:100%;
}
.p4{
	float:right;
}
.pic6{
	float:left;
}
.div5{
	float:left;
}
.cb{
	float:left;
	padding:110px;
}


#bread{
	padding-bottom:0px;
	float:top;
	float:left;
}
.knives{
	float:right;
	padding-right:20px;
}
.buy{
	float:right;
	padding-right:20px;
}
.paragraph{
	padding-bottom:200px;
}.cb1{
float:left;
padding: 110px;
font-family:'Tw Cen MT';

}
.cb2{
	float:left;
padding: 110px;
font-family:'Tw Cen MT';
}
.cb3{
	float:left;
padding: 110px;
font-family:'Tw Cen MT';
}
.cb4{
	float:left;
padding: 110px;
font-family:'Tw Cen MT';
}
.cb5{
	float:left;
padding: 110px;
font-family:'Tw Cen MT';
}
.cb6{
	float:left;
padding: 110px;
font-family:'Tw Cen MT';
}
.cb7{
	float:left;
padding: 110px;
font-family:'Tw Cen MT';
}
.cb8{
	float:left;
padding: 110px;
font-family:'Tw Cen MT';
}
.cb9{
	float:left;
padding: 110px;
font-family:'Tw Cen MT';
}
.scroll-box{
	border:1px solid black;
	height:300px;
	width:400px;
	overflow-y:hidden;
	overflow-x:scroll;
}
div.scrollmenu {
    background-color:;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
.profilepic{
	float:left;
}
.profilepic2{
	float:right;
}
.header{
	padding:30px;
}
.tools{
	padding-left:40px;
}